
    <header> 
	<div class="container">
		<div class="links"> 
    
			<a href="http://instagram.com/ankinmarkin">Instagram</a>
			<a href="mailto:ankinmarkin@gmail.com">Gmail</a>
			<a href="skype:ankinmarkin?chat">Skype :  ankinmarkin</a>
		</div>	
		<div id="am">AnkinMarkin</div>
		<div id="opisanie"></div>
		<div class="navbar">
			<nav>
				<a href="1.html">днлюьмъъ</a>
				<a href="2.html">юрекэе</a> 
				<a href="3.html">тнрн</a> 
				<a href="4.html">рспхгл</a> 
				<a href="3.html">асйерш</a> 
				<a href="contacts.html">йнмрюйрш</a>
			</nav>
		</div>
	</div>
	</header>
    